<h1>Hello World</h1>
<p>Alguma coisa</p>
<app-first-component></app-first-component>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-compartilhamento-dados-teste [name]="userName" [userData]="userData" [idade]="idade" [informacoes]="informacoes"></app-compartilhamento-dados-teste>
<app-eventos></app-eventos>
<app-day-screen></app-day-screen>
<app-emitter></app-emitter>
<app-list-render></app-list-render>