<div class="class">
    <div>
        <h2 class="title">Nome: {{ name }}</h2>
        <p>Idade: {{ age }} lá ele kk</p>
        <p>Profissão: {{ job }}</p>
        <a href="#">Saiba mais</a>
        <hr>
    </div>

    <div>
        <p>Hobbies: {{hobbies}}</p>
        <p>Hobbie selecionado: {{hobbies[2]}}</p>
        <a href="#">Ver mais hobbies</a>
        <hr>
    </div>

    <div>
        <p>Ano do carro: {{car.year}}</p>
        <p>Nome do carro: {{car.name}}</p>
        <a href="#"> Veja mais sobre o carro</a>
    </div>
</div>